    body{
		background-image: none;
		background-size:cover;
		background-repeat:no-repeat;
		background-attachment:fixed;
		font-family: Monospace;
	}
    
    .chat-space > .reply{
        text-align: left;
    }
    .chat-space > .quest{
        text-align: right;
    }
    .reply > img, .quest > img{
        border-radius: 50%;
        width: 50px;
        height: 50px;
        user-select: none;
        -webkit-user-drag: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    .reply > img{
        float: left;
        margin-right: 10px;
    }
    .quest > img{
        float: right;
        margin-left: 10px;
    }
    .reply > div, .quest > div{
        display: inline-block;
        min-height: 16px;
        max-width: 70%;
        background: #536a7c;
        border-radius: 5px;
        word-break: break-all;
        box-shadow: 1px 1px 5px #292626;
        line-height: 1.4;
        position: relative;
        text-align: left;
        
        padding: 10px 15px;
        background-origin: border-box;
        background-attachment: unset;
        background-repeat: no-repeat;
        background-position-y: top;
        background-size: contain;
    }
    .chat-btn{
        background: green;
        padding: 0 6px;
        color: white;
        cursor: pointer;
        border-radius: 5px;
        line-height: 2.3em;
    }
    .chat-btn:hover{
        background: #466946;
    }
    .ion-page {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: space-between;
        contain: layout size style;
        overflow: hidden;
        z-index: 0;
        background-color: #232b33;
    }
    .ion-header {
        order: -1;
        width: 100%;
		display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        contain: content;
        z-index: 10;
        background-color: #20252d;
        box-shadow: -20px 10px 10px #000000a3;
    }
	.header2{
	    display:flex;
	    align-items: center;
	    
	    min-height: 10%;
        z-index: 10;
        box-sizing: border-box;
        background: -webkit-gradient(
		    linear,
            left top,
            right top,
            color-stop(0, #bb8bc7),
            color-stop(0.4, #bb8bc7),
            color-stop(0.5, white),
            color-stop(0.6, #bb8bc7),
            color-stop(1, #bb8bc7)
        );
        -webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
		animation: go-through 5s forwards;
	}
	.mytitle{
        margin: .5em;
		color: #a58aac;
		font-size: 200%;
		font-family: Monospace;
		cursor: pointer;
		display: block;
		
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
	}
    .toolbar-container {
        display:block;
        vertical-align: middle;
        box-sizing: border-box;
        background-color: white;
        position: relative;
        -ms-flex-order: 1;
        order: 1;
        max-height: 75px;
        z-index: 10;
    }
    .textarea-holder {
        flex: 1;
        padding-top:10px;
        padding-left: 9px;
        padding-right: 9px;
    }
    .textarea{
        flex: 1;
        height: 32px;
        max-height: 75px;
        color: #000;
        font-size: 17px;
        line-height: 25.5px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;
        display: block;
        resize: none;
        word-break: break-word;
        word-wrap: break-word;
        user-select: none;
        outline:none;
        border: none;
        overflow-x:hidden;
        overflow-y:hidden;
    }
    :root{
        --background: var(--ion-background-color, #fff);
        --color: var(--ion-text-color, #000);
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-start: 0px;
        --padding-end: 0px;
        --keyboard-offset: 0px;
        --offset-top: 0px;
        --offset-bottom: 0px;
        --overflow: auto;
    }
    
    .inner-scroll::after{
        left: 0px;
        right: 0px;
        top: calc(var(--offset-top) * -1);
        bottom: calc(var(--offset-bottom) * -1);
        position: absolute;
        background: var(--background);
    }
    .inner-scroll{
        left: 0px;
        right: 0px; 
        top: calc(var(--offset-top) * -1);
        bottom: calc(var(--offset-bottom) * -1);
        padding-left: var(--padding-start);
        padding-right: var(--padding-end);
        padding-top: calc(var(--padding-top) + var(--offset-top));
        padding-bottom: calc(var(--padding-bottom) + var(--keyboard-offset) + var(--offset-bottom));
        position: absolute;
        color: var(--color);
        box-sizing: border-box;
        overflow: hidden;
        
        z-index: 0;
        will-change: scroll-position;
        touch-action: pan-y;
        overflow-y: var(--overflow);
        overscroll-behavior-y: contain;
    }
    
    .chat-space{
        background-color: rgb(49,68,80);
        width: 100%;
        min-height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: 50%;
        padding-bottom: 15%;
    }
    
    .chat-space > div{
        color: white;
        padding: 10px;
    }